include README.md
include COPYING
include periphondemand/bin/pod
recursive-include periphondemand/tests *
recursive-include libraries/library *
recursive-include libraries/platforms *
recursive-include templates *
recursive-include periphondemand/busses *
recursive-include periphondemand/toolchains *
recursive-include periphondemand/bin *
global-exclude *.pyc
