include README
include COPYING
include periphondemand/bin/pod
include periphondemand/tests *
recursive-include periphondemand/library *
recursive-include periphondemand/platforms *
recursive-include periphondemand/templates *
recursive-include periphondemand/busses *
recursive-include periphondemand/toolchains *
recursive-include periphondemand *.py
