include README
include COPYING
include src/bin/pod
recursive-include src/tests *
recursive-include src/library *
recursive-include src/platforms *
recursive-include src/templates *
recursive-include src/busses *
recursive-include src/toolchains *
recursive-include src/bin *
